.slider__box-shadow {
  width: 200px;
  margin: 20px 20px;
  }
  
  .bottom{
  box-shadow: inset 0px -50px 70px 0px #fff;
  }
  
  .top{
  box-shadow: inset 0px 190px 190px -50px #fff;
  }
  
  .left{
  box-shadow: inset 190px 0px 190px -50px #fff;
  }
  
  .right{
  box-shadow: inset -100px 0px 100px -50px #fff;
  }
  
  .slider__descr {
  color: #333;
  position: relative;
  z-index: -1;
  }
  